/* Image Card */
.flipcard {
    max-width: 430px;
    height: 350px;
    background-color: transparent;
    perspective: 1000px;
    
     
}

  .flipcardinner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
  }
  
  /* .flipcard:hover .flipcardinner {
    transform: rotateY(180deg);
  } */
  
  .flipcardfront, .flipcardback {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

  }
  
  .flipcardfront {
    color: black;
  }
  
  .flipcardback {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }